{% extends "layout.html" %}

{% block content %}
<div class="breadcrumb">
   <h2>My to do tasks:<strong>Manage your tasks</strong></h2> 
</div>

<form action>
    <div>
    <input type="text" placeholder="Add task" required />
    <input type="submit" value="Add task" />
    </div>
    <br>
    <table >
        <tr>
            <th></th>
            <th>Task</th>
            <th>Task Status</th>
            <th>Modify</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Learning CSS</td>
            <td>Inprogress</td>
            <td>
                <div class="modify">
                    <a href="#">
                        <button class="button" type="button">Edit</button>
                    </a>
                    <a href="#">
                        <button class="button button1" type="button">Delete</button>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>Learning Python</td>
            <td>Inprogress</td>
            <td>
                <div class="modify">
                    <a href="#">
                        <button class="button" type="button">Edit</button>
                    </a>
                    <a href="#">
                        <button class="button button1" type="button">Delete</button>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td> Shopping</td>
            <td> Not started</td>
            <td>
                <div class="modify">
                    <a href="#">
                        <button class="button" type="button">Edit</button>
                    </a>
                    <a href="#">
                        <button class="button button1" type="button">Delete</button>
                    </a>
                </div>
            </td>
        </tr>
    </table>
</form>

{% endblock %}